<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="min" stopProcessing="true">
                    <match url="release/(app|hotfix)/(.*)\-\d+(\.min)?(\.js|\.css)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:2}{R:4}" />
                </rule>
                <rule name="ux" stopProcessing="true">
                    <match url="release/app/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
